<a href="https://colab.research.google.com/github/manower35/Hussain786/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ORGANIZING A LIST

SORTING A LIST PERMANENTLY WITH THE SORT() METHOD

In [ ]:
books = ['physics', 'chemistry', 'math', 'bioligy']
books.sort()
books

['bioligy', 'chemistry', 'math', 'physics']

In [ ]:
books.sort(reverse=True)
books

['physics', 'math', 'chemistry', 'bioligy']

SORTING A LIST TEMPORARILY WITH THE SORTED() FUNCTION

In [ ]:
print("here is the original list:")
print(books)
print("\nhere is the sorted list:")
print(sorted(books))

here is the original list:
['physics', 'math', 'chemistry', 'bioligy']

here is the sorted list:
['bioligy', 'chemistry', 'math', 'physics']

PRINTING A LIST IN A REVERSE ORDER

In [ ]:
print(books)
books.reverse()
print(books)

['physics', 'math', 'chemistry', 'bioligy']
['bioligy', 'chemistry', 'math', 'physics']

FINDING THE LENGTH OF A LIST

In [ ]:
len(books)

4

AVOIDING INDEX ERRORS WHEN WORKING WITH LISTS

In [ ]:
city_1 = []
city_1[-2]

IndexError: list index out of range

In [ ]:
books[4]

IndexError: list index out of range

In [ ]:
books[3]

'physics'

LOOPING THROUGH AN ENTIRE LIST

In [ ]:
schools = ['teachers', 'madam', 'books', 'students']
for school in schools:
    print(school)

teachers
madam
books
students

In [ ]:
print(f"{school.title()}, that was a great trick!")

Students, that was a great trick!

Making Numerical Lists
Range Function

In [ ]:
for value in range(1,10):
    print(value)

1
2
3
4
5
6
7
8
9

Using range() to Make a list of numbers

In [ ]:
numbers = list(range(1,5))
print(numbers)

[1, 2, 3, 4]

In [ ]:
old_numbers = list(range(2,11,2))
old_numbers

[2, 4, 6, 8, 10]

In [ ]:
squares = []
for value in range(1,10):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

Simple Statistis with a list of Numbers

In [ ]:
digits =[5,7,9,0,5,3]
print(max(digits))
print(min(digits))
print(sum(digits))

9
0
29

List Comprehensions

In [ ]:
square = [value**2 for value in range(1,10)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

Working with part of a list

Slicing a List

In [2]:
country = ["state", "district", "block", "village", "people"]
country[0:2]

['state', 'district']

In [3]:
country[:3]

['state', 'district', 'block']

In [4]:
country[2:]

['block', 'village', 'people']

Looping Through a Slice

In [7]:
print("here ia a full detail:")
for countrys in country[:2]:
    print(countrys.title())

here ia a full detail:
State
District

Copying a List

In [8]:
books = ["math", "computer", "physics", "chemistry"]
print(books)

['math', 'computer', 'physics', 'chemistry']

Tuples

In [9]:
measurement = (100, 250)
print(measurement[0])
print(measurement[1])

100
250

Looping in a Tuple

In [12]:
measurement = (100, 200)
for item in measurement:
        print(item)

100
200